extends layout

block content
  h1 File Uploads
  div
    input(type='file',style='display: none', name='uploadFiles',id='uploadFiles',multiple)
    button.btn.btn-primary(id='addFilesButton') Add files
    button.btn.btn-primary(id='uploadAllFilesButton') Upload All
    hr
    div.progress
      div#progress.progress-bar(role='progressbar', style='width: 0%')
  table#files.table


block otherScripts
  script(src='/js/image.upload.js')
